body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #311B92;
}
.quizBody{
    margin: 100px auto;
    width: 60%;
    height: 500px;
}
.title{
    text-align: center;
    color: #F44336;
}
label{
    margin: 10px;
    background-color: white;
}
.m{
    margin: 10px;
}
.quest{
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: #7C4DFF;
    color: white;
    box-shadow: 3px 3px 4px black;
}
.option{
    padding: 15px;
    display: block;
    border-radius: 10px;
    color: #7C4DFF;
    box-shadow: 3px 3px 4px black;
}
.option:hover{
    color: white;
    background-color: #7C4DFF;
}
.nbtn{
    border: none;
    border-radius: 10px;
    float: right;
    cursor: pointer;
    padding: 15px;
    margin: 10px;
    color: #7C4DFF;
    box-shadow: 3px 3px 4px black;
    font-weight: bolder;
    background-color: lightgray;
}
.nbtn:hover{
    background-color: #F44336;
    color: white;

}
.result{
    height: 250px;
    text-align : center;
    font-size: 70px;
    padding: 20px;
    background-color: #7C4DFF;
    color: white;
    margin: 250px auto;
}
.option:focus{
    color: white;
    background-color: #7C4DFF;
}
@media only screen and (max-width:650px){
    .quizBody{
        width: 80%;
        height: 500px;
    }   
}
@media only screen and (max-width:520px){
    .quizBody{
        width: 90%;
        height: 500px;
    }   
}